

/* General styles */
html, body {
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Trebuchet MS', sans-serif;
    padding-top: 60px; 
    transition: background-color 0.3s, color 0.3s;
}

header {
    background-color: #4CAF50; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0;
    left: 0;
    transition: background-color 0.3s;/*new*/
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
}

.logo {
    flex: 1;
    color: white;

}

.nav-links {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    flex: 2;
    justify-content: center;
}

.nav-links li a {
    text-decoration: none;
    color: white;
    transition: color 0.3s;
}

.nav-links li a:hover {
    color: #293029;
}
body.dark-mode .nav-links li a:hover {
    color:#4CAF50;
}


.nav-right {
    display: flex;
    align-items: center;
    flex: 3;
    justify-content: flex-end;
}

.search-bar {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.search-bar input {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s;
}

.search-bar input:focus {
    border-color: #4CAF50;
}

.search-bar button {
    padding: 0.5rem 1rem;
    background-color: white;
    color: #4CAF50;
    font-weight: bold;
    border: none;
    border-radius: 45px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.search-bar button:hover {
    background-color: #4CAF50;
    color: white;
}

.dark-mode-toggle {
    margin-left: 1rem;
}

.dark-mode-toggle button {
    padding: 0.5rem 1rem;
    background-color: white;
    color: #4CAF50;
    font-weight: bold;
    border: none;
    border-radius: 45px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.dark-mode-toggle button:hover {
    background-color: #4CAF50;
    color: white;
}

.login a {
    margin-left: 1rem;
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 0.5rem 1rem;
    background-color: white;
    color:#4CAF50;
    border: none;
    border-radius: 45px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.login a:hover {
    background-color: #4CAF50;
    color: white;
}

/* Dark mode styles */
body.dark-mode {
    background-color: #121212;
    color: #e0e0e0;
}

body.dark-mode header {
    background-color: #333;
}

body.dark-mode nav a {
    color: #e0e0e0;
}

body.dark-mode .search-bar button,
body.dark-mode .dark-mode-toggle button,
body.dark-mode .login a {
    background-color: #333;
    color: #e0e0e0;
}

body.dark-mode .search-bar button:hover,
body.dark-mode .dark-mode-toggle button:hover,
body.dark-mode .login a:hover {
    background-color: #4CAF50;
    color: #e0e0e0;
}

/* Forgot Pass CSS (Main)*/
.overlay {
    position: fixed;
    margin-top: 150px;
    width: 100%;
    background: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
}

.modal {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 350px;
    position: relative;
    margin: 20px;
    border: 1px solid #ccc;
}


form {
    display: flex;
    flex-direction: column;

}


.back-to-login{
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
   
}

label {
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.modal button[type="submit"] {
    padding: 10px;
    background-color: #22C55E;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

.modal button[type="submit"]:hover {
    background-color: #ffffff;
    color: black;
}

.back-to-login a {
    color: #22C55E;
    text-decoration: none;
}

.back-to-login a:hover {
    text-decoration: underline;
}
